body {
  margin: 0;
  line-height: normal;
}

:root {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700&family=Lato:wght@400;700&family=Public+Sans:wght@400;700;800&display=swap");
  /* fonts */
  --font-public-sans: "Public Sans", sans-serif;
  --font-kameron: Kameron;
  --font-k2d: K2D;
  --font-lato: "Lato", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* font sizes */
  --font-size-smi: 0.81rem;
  --font-size-mini: 0.94rem;
  --font-size-lg: 1.13rem;
  --font-size-xl: 1.25rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.88rem;
  --font-size-xs: 0.75rem;
  --font-size-2xs: 0.69rem;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-darkslategray-100: #216579;
  --color-darkslategray-200: #226377;
  --color-darkslategray-300: #1a5061;
  --color-gray-100: rgba(0, 0, 0, 0.57);
  --color-gray-200: rgba(255, 255, 255, 0.81);
  --color-gray-300: rgba(255, 255, 255, 0.47);
  --color-gray-400: rgba(255, 255, 255, 0.92);
  --color-darkslateblue: #29327f;
  --color-steelblue: #224e77;
  --color-aliceblue-100: #f1f9ff;
  --color-lightblue: rgba(203, 236, 254, 0.45);
  --color-whitesmoke: rgba(239, 235, 235, 0.47);

  /* border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-8xs: 5px;
  --br-5xs: 8px;
}

.header {
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-public-sans);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 1rem;
}

.header .header-title,
.login-register {
  font-family: var(--font-inter);
  font-size: var(--font-size-smi);
  color: white;
  height: 1.25rem;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.login-register:hover {
  color: rgb(224, 224, 224);
  text-decoration: none;
}

.header-icon {
  width: 1.63rem;
  height: 1.19rem;
}

.skip-to-content {
  width: 1.69rem;
  height: 1.56rem;
  margin: 0 5px;
}

.sub-header-logo {
  height: 4rem;
}

.nav-bar {
  background: linear-gradient(
    90deg,
    #833ab4 0%,
    #347e96 50%,
    #456afc 100%
  ) !important;
  border-radius: 8px !important;
  margin: 0 15px;
}

.nav-link {
  font-family: var(--font-inter) !important;
  font-weight: 700 !important;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.nav-background {
  background-color: #56abc6;
  border-radius: 8px;
  margin: 0 -15px;
  padding: 0 0 25px;
}

.stats-wrapper {
}

.stats-wrapper .stats-box {
  background-color: #f1f9ff;
  box-shadow: 4px 8px 4px 4px rgba(14, 38, 100, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-gray-100);
  font-size: var(--font-size-xs);
}

.stats-wrapper .stats-box > p:first-child {
  font-size: var(--font-size-mini);
  padding: 0.5rem;
  font-weight: bold;
}

#carousel-edistrict {
  margin-top: -15px;
}

.work-sector {
  max-width: 1500px;
}

.work-sector .sector-back {
  background-color: #226377;
  box-shadow: 0px 4px 4px 4px rgba(38, 125, 163, 0.25);
  border-radius: 10px;
  color: white;
  font-family: var(--font-public-sans);
  font-style: normal;
}

.work-sector .sector-back h2 {
  background-color: transparent;
  text-align: left;
  display: inline-block;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.work-sector .sector-back p {
  text-align: justify;
  margin: 0;
  font-size: var(--font-size-xs);
  line-height: 1.2rem;
}

.work-sector .sector-back .about-img {
  max-width: 400px;
}

.work-sector .sector-back .btn-about {
  background: #fe9e46;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-sector .sector-back .login-box {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 1.25rem 0;
  cursor: pointer;
}

.work-sector .sector-back .login-box > img {
  height: 76px;
  width: 76px;
}

.work-sector .sector-back .login-box > p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #1a5061;
}

.our-services .services-title,
.more-info .more-info-title {
  color: black;
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.card-text-box {
  background-color: rgba(203, 236, 254);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
}

.card-text-box > p {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.carousel-inner .card {
  border: none;
  background-color: transparent;
}

.circular-img {
  border-radius: 5rem;
}

.carousel-back-bg {
  background-color: #d5eef6;
  height: 50%;
  border-radius: 12px;
  width: 100%;
  z-index: -100;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.booking-row .booking-col-img {
  display: flex;
  justify-content: end;
}

.booking-row .booking-col-text {
  display: flex;
  justify-content: start;
  align-items: center;
}

.booking-row .booking-text-section {
  background-color: #d4f2f9;
  box-shadow: 0px 4px 4px rgba(52, 105, 143, 0.25);
  border-radius: 20px;
  margin-left: -100px;
}

.booking-row .booking-text-section img {
  width: 1.25rem;
  margin: 0 5px;
}

.booking-row .booking-text-section .text-span {
  font-family: "Kameron";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}

.booking-row .booking-row-image {
  z-index: 1;
}

.booking-row .booking-text-section > h1 {
  background-color: transparent;
  color: black;
  border: none;
}

.new-section-title {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #ffffff;
  background-color: #216579;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 10px 50px;
}

.new-section-body {
  background: linear-gradient(0deg, #d5eef6 0%, #ffffff 100%);
  box-shadow: 0px 4px 4px rgba(52, 105, 143, 0.25);
  border-radius: 10px;
}

.new-section-body ul {
  text-align: left;
  padding: 20px;
  width: 90%;
}

.new-section-body ul li a {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
  text-decoration-line: underline;
  color: #000000;
  display: inline-block;
}

.new-section-body .new-section-link li a::after {
  content: "";
  background: url("./Images/newgificon4-5@2x.png");
  position: absolute;
  scale: 0.5;
  width: 89px;
  height: 27px;
  background-repeat: no-repeat;
}

.more-info .more-info-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
}

.more-info .more-info-card .icon-wrapper {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
}

.more-info .more-info-card .icon-wrapper.timeline {
  background-color: #cffdd1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-info .more-info-card .icon-wrapper.guideline {
  background-color: #eecffd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-info .more-info-card .icon-wrapper.officials {
  background: #fdfbcf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-info .more-info-card .icon-wrapper > img {
  object-fit: fill;
  object-position: center;
  width: 64px;
}

.more-info .more-info-card > p {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #29327f;
  text-shadow: 0px 4px 4px rgba(10, 33, 67, 0.25);
  display: inline-block;
  padding: 5px 0;
  text-align: center;
}

.sub-footer {
  background: #224e77;
}

.sub-footer .e-district-info > img {
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 200px;
}

.sub-footer .e-district-info > p {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: justify;

  color: rgba(255, 255, 255, 0.81);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-footer .e-district-policy > h2,
.sub-footer .e-district-address > h2 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.47);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: none;
}

.sub-footer .e-district-policy > ul > li > a,
.sub-footer .e-district-address > ul > li {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.81);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  margin: 0 -15px;
  background-color: #12304c;
  padding: 1rem;
}

.footer > p {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.82);
}


.visitor-count-wrapper{
  bottom: -10px;
  left: 0px;
}
.visitor-count-wrapper > p {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .custom-carousel-inner .carousel-item > div {
    display: none;
  }
  .custom-carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .booking-row .booking-col-img {
    justify-content: center;
  }

  .booking-row .booking-col-text {
    justify-content: center;
  }
  .booking-row .booking-text-section {
    margin-left: 0;
    padding: 2rem !important;
  }
}

.custom-carousel-inner .carousel-item.active,
.custom-carousel-inner .carousel-item-next,
.custom-carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .custom-carousel-inner .carousel-item-right.active,
  .custom-carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .custom-carousel-inner .carousel-item-left.active,
  .custom-carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.custom-carousel-inner .carousel-item-right,
.custom-carousel-inner .carousel-item-left {
  transform: translateX(0);
}

@media (max-width: 520px) {
  .booking-row .booking-text-section img {
    width: 10px;
  }
  .booking-row .booking-text-section .text-span {
    font-size: 15px;
  }
}
