/*EDIST06022023*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
} 
  
  
  body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
    color: #000000;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
 
.wrapper .top-nav .left-panel li i.fas.fa-bars {
  font-size: 15px;
}
.bg-service{
  background: #D7E6F4;
  background: linear-gradient(
    to bottom,
        #D7E6F4 0%,
        #D7E6F4 50%,                                                                 
        #ffffff 50%,
       #ffffff 100%
    );
}

h3 {
    font-size: 23px;
    color: #F59D02;
    font-weight: 300;
}
ul.menu-items li {
    padding: 7px 0px;
    list-style-type: disc;
    color: var(--white);;
    margin-left: 18px;
}
ul.menu-items li.orange-text {
  list-style-type: none;
  margin-left: 0px;
}
ul.menu-items li.orange-text a {
  color: #F59D02;
  font-size: 22px;
}
.orange-text {
  color: #F59D02;
}
.menu-column p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
  
.wrapper .top-nav .left-panel li {
  float: left;
  margin-right: 10px;
  padding: 3px 0px;
}

.wrapper .top-nav .left-panel li.toggle-btn a {
  font-size: 19px;
}
.wrapper .top-nav .left-panel li.toggle-btn {
  padding-top: 7px;
  padding-right: 5px;
}
  
.wrapper .top-nav .left-panel li.text-right {
    border-right: 1px solid #ddd;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
  
 
.wrapper .top-nav .right-panel {
  float: right;
}
  
.wrapper .top-nav .right-panel li {
    float: left;
    border-right: 1px solid #143f81;
    padding: 6px 12px;
    position: relative;
}
.wrapper.light-header .top-nav .right-panel li:first-child {
  border-left: 1px solid #7070701D;
}
/*NEWEDISTRICTLAYOUT27042023*/
.wrapper.light-header .menu-bar .dropdown-menu {
 background: var(--megablue);
  /*background:#004595;*/
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.wrapper .menu-bar .menu_wrapper .menu-listing li .sub-menu .dropdown-item:hover {
  background: var(--hoverblue);
  color: var(--white);;
}

.wrapper .top-nav .left-panel.top_logo li a {
  color: var(--white);;
  vertical-align: text-bottom;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;

}

.wrapper .top-nav .right-panel li.cog-dropdown a:hover {
  background: transparent;
}
.wrapper .top-nav .right-panel li.cog-dropdown > a {
  background: transparent !important;
  color: var(--white) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wrapper .top-nav .right-panel li.cog-dropdown > .dropdown-menu {
  left: auto !important;
  top: 7px !important;
  right: 10px;
}
.wrapper .top-nav .right-panel li.cog-dropdown > .dropdown-menu a.dropdown-item {
  padding: 6px 12px;
}

.wrapper .top-nav .right-panel li a img {
    height: 20px;
}
  
.wrapper .top-nav .right-panel li:last-child {
  border: 0px;
  
}

.wrapper .top-nav .right-panel li a {
  color: var(--white);; 
    font-size: 15px;
    line-height: 15px;
    padding: 0px;
    font-weight: 500;
    border: 0px;
    text-decoration: none;
}
/* .wrapper .top-nav .right-panel li a.skip-content {
    font-weight: 500;
    
} */
.wrapper .top-nav .right-panel li a::after {
    display: none;
}
.wrapper .top-nav .right-panel li.dropdown > a.language {
    background: var(--white);;
    color: #38322D;
    padding: 3px 9px;
    display: block;
    border-radius: 4px;
}  
.wrapper .top-nav .right-panel li .dropdown-menu {
    min-width: auto;
    background: #00245c;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    left: -7px !important;
    
}
.wrapper.light-header .top-nav .right-panel li .dropdown-menu a.bg-dark {
    color: yellow !important;
}
.wrapper.light-header .top-nav .right-panel li .dropdown-menu a.bg-default {
    color: #ffffff !important;
    background: #002458;
}
.wrapper.light-header .top-nav .right-panel li .dropdown-menu a.bg-brown{
  color: var(--black) !important;
  background-color: whitesmoke;
}















ul.menu-items li {
    padding: 7px 0px;
    list-style-type: disc;
    color: var(--white);;
    margin-left: 18px;
}
ul.menu-items li a {
    color: var(--white);;
    font-size: 13px;
    font-weight: 300;
}
.submenu-dropdown {
  position: absolute;
  width: 100%;
  background: #052853;
  z-index: 3;
  padding-bottom: 30px;
  margin-top: 0px;
  border-radius: 0px;
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.submenu-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: opacity 0.3s ease;
}

.menu-column select.form-control {
  font-size: 13px;
  color: #626262;
  font-weight: 500;
}

a.hide_menu {
  position: absolute;
  right: 15px;
  background: var(--white);;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4E4E4E;
  z-index: 4;
  font-size: 15px;
  text-decoration: none;
}
  
.wrapper .top-nav .right-panel li .dropdown-menu .dropdown-item {
    padding: 6px 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
  
  .wrapper .top-nav .right-panel li .dropdown-menu .dropdown-item:hover {
    background: #00245c;
  }
  
  .wrapper .mid-nav .logo {
    align-items: center;
  }
  .wrapper .mid-nav .logo a {
    color: #0B3679;
    font-size: 26px;
    font-weight: 900;
    text-decoration: none;
}
.wrapper .mid-nav .right-logo.azadi img{
  width: 115px;
}
.skip-content i{
  transform: rotate(90deg);
}
.top-login{
  background: var(--yellow);
}
.top-login i{
 margin-right: 5px;
}
.top-login a{
  color: var(--black) !important;
}
.bg-mid-nav {
  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;
}
.mid-nav h1 {
  font-weight: 600;
  color: #000;
  margin: 28px 0px 0px;
  font-size: 19px;
}
  .wrapper .mid-nav .logo span {
    font-size: 16px;
    color: #696969;
    font-weight: 700;
    display: block;
}
.wrapper .menu-bar {
  background: var(--menublue) ;
}
  
 .wrapper .menu-bar .menu_wrapper .menu-listing li {
    display: inline-block;
}
  
.wrapper .menu-bar .menu_wrapper .menu-listing li a {
    color: var(--white);;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 14px;
}
  
  .wrapper .menu-bar.bg-sky-blue .menu_wrapper .menu-listing li a.active, .wrapper .menu-bar.bg-sky-blue .menu_wrapper .menu-listing li a:hover {
    background: var(--hoverblue);
}
  
  .wrapper .menu-bar .menu_wrapper .menu-listing li a i.fa-plus {
    font-weight: 400;
    margin-left: 5px;
    font-size: 13px;
    display: inline-block;
  }
  
  .wrapper .menu-bar .menu_wrapper .menu-listing li a::after {
    display: none;
  }
  
  .wrapper .menu-bar.bg-sky-blue .menu_wrapper .menu-listing li .sub-menu {
    background: #052853;
    padding: 0px;
    margin: 0px;
    min-width: 260px;
    border-radius: 0px;
}
.wrapper .menu-bar .menu_wrapper .menu-listing li a[aria-expanded="true"] {
  background: var(--hoverblue);
}

.wrapper.light-header.design-3 .menu-listing li a[aria-expanded="true"] {
  background: var(--hoverblue);
}

  .wrapper .menu-bar .menu_wrapper .menu-listing li .sub-menu .dropdown-item {
    padding: 10px 19px !important;
    border-top: 1px solid var(--white);;
  }
  
  .wrapper .menu-bar .menu_wrapper .menu-listing li .sub-menu .dropdown-item:last-child {
    border-bottom: 0px;
  }
  
  
.wrapper.light-header .top-nav {
  background: var(--topblue) ;
 
}

.wrapper.light-header .top-nav  .right-panel li.cog-dropdown > a {
  color: var(--white)!important;
  border: 0px !important;
}

.wrapper.light-header .top-nav .right-panel li.dropdown.cog-dropdown > a:hover{
  color: var(--white) !important;
}
.wrapper .top-nav .right-panel li {
  border-right: 1px solid #7070701D;
}
.wrapper.light-header .top-nav  .right-panel li.dropdown > a.language {
 padding: 1px 9px;
  color: #38322D;
  border: 1px solid #707070;
}
.wrapper.light-header  .top-nav .right-panel li .dropdown-menu a{
  color: var(--white) !important;
}
.wrapper .menu-bar .menu_wrapper .menu-listing li a.active, .wrapper .menu-bar .menu_wrapper .menu-listing li a:hover  {
  background:var(--hoverblue);
}
.wrapper .menu-bar .menu_wrapper .menu-listing li a i.fas {
  margin-left: 2px;
}
.wrapper .mid-nav .logo > img {
  max-width: 44px;
}
.wrapper.light-header .bg-mid-nav .logo span {
  color: #403F3F;
}
.wrapper.light-header .bg-mid-nav .logo a {
  color: #000;
}
.wrapper.light-header .bg-mid-nav {
  background-image: none;
  background: #ffffff;
}

.tab-display-block {
  display: none;
}
.search-panel .btn.btn-warning {
  background: #f59d02;
  color: var(--white);;
  border-color: #f59d02;
  font-size: 14px;
}
.wrapper .top-nav .right-panel .dropdown-menu.search-area {
  min-width: 300px;
}

.search-panel {

  padding: 20px !important;
 
}
  /* ======= HEADER CSS END ======= */
  .image-responsive {
    width: 100%;
  }
  
  button:focus {
    outline: 0px;
  }
  
/* ======= HOMEPAGE CSS START ======= */

.slider-area .owl-dots {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 24px;
}
.slider-area .owl-dots button.owl-dot.active {
  background: var(--white);;
}
.slider-area .owl-dots button.owl-dot {
  width: 13px;
  height: 13px;
  background: transparent;
  border-radius: 50%;
  margin: 0px 3px;
  border: 1px solid #707070;
}
/* our service SEC CSS START */
 .our-service{
  box-shadow: 0px 0px 10px #0000001D;
    background: var(--bg-white);
    padding: 30px 0;
    
 }
  .our-service h3{
    padding-bottom: 10px;
    color: var(--black);;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .our-service .figure.position-relative .figcaption {
    width: 100%;
    z-index: 2;
    padding: 8px 20px 10px;
    transition: 0.8s ease;
    bottom: 0px;
    height: 46px;
    background: #084C9D ;
    opacity: 0.8;
    text-align: center;
  }
  
  .our-service .figure.position-relative .figcaption span{
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  }
  


  
  .service  .owl-nav {
    display: block !important;
  }
  .service  .owl-nav button, .banner-slider .owl-nav button  {
    background: var(--white) !important;
    color: var(--black); !important;
    width: 30px;
    height: 30px;
    font-size: 27px !important;
    line-height: 0px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .pt-50{
    padding-top: 50px;
  }
  .service  .owl-nav button.owl-next, .banner-slider .owl-nav button.owl-next {
    right: 0px;
  }
  .viewbtn{
    background: #D57800;
  color: var(--white);;
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 14px;
  }
  .viewbtn:hover{
    background: #D57800;
  color: var(--white);;
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 14px;
  }
  /* KEY INTITATIVE SEC END  */
  
   /* NEWS SEC CSS START */
   .news-wrapper{
    padding: 20px 0 50px;
    background: var(--bg-white);
   }
   .news-wrapper  h4{
    font-size: 18px;
    line-height: 29px;
    color:var(--black);;
    margin-bottom: 0;
    font-weight: 500;
    }
    .news-wrapper .card {
      display: flex;
      background: var(--lightblue);
    }
    .scrollbar {
      overflow: auto;
      height: 300px;
      min-height: 300px;
  }
  .notification-listing{
    padding: 10px;
  }
  .news-wrapper ul.notification-listing li > i {
    color: #00245C;
  }
  .news-wrapper ul.notification-listing li > a {
    color: #4E4E4E;
  }
 .news-wrapper .faq .circle-icon{
  background: #DAEFF7 ;
 }
 .news-wrapper .timeline .circle-icon{
  background: #C8EFF0  ;
 }
 .news-wrapper .officials .circle-icon{
  background: #FCECDB  ;
 }
 .news-wrapper .criteria .circle-icon{
  background: #DFD1F5  ;
 }
  .news-wrapper .icon-wrapper {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    font-weight: 600;
    text-align: center;
    padding: 13px 24px;
    background: var(--bg-white);
}
.circle-icon {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.news-wrapper .icon-wrapper p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 13px;
  font-weight: 500;
}
.news-wrapper ul.notification-listing li > a {
  color:var(--textblue);
  vertical-align: top;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  }
  .news-wrapper ul.notification-listing li > a img{
   width: 30px;
   margin-top: -2px;
    }
  .news-wrapper ul.notification-listing li > i {
    color:var(--textblue);
    margin-right: 5px;
    font-size: 16px;
  }
 
  .news-wrapper .notification-listing li {
    display: flex;
    padding-bottom: 8px;
   
    
  }
  

 /* WORKSEC CSS START */
 .worksec {
  background: #084C9D url(../images/pattern.png) no-repeat;
  
  background-size: cover;
  padding: 50px 0 10px;
}
  #worksec .work-left h3{
    font-size: 24px;
    line-height: 32px;
    color: var(--white);;
    font-weight: 500;
   }
   
   #worksec .work-left p{
     color: var(--white);;
     font-size: 14px;
     line-height: 24px;
   }
   
   /* WORKSEC CSS END  */
   .infosec {
    background: var(--bg-white);
   }
.infosec .icon-wrapper {
  text-align: center;
  font-size: 14px;
  color: var(--black);
  font-weight: 600;
  text-align: center;
  padding: 18px 22px;
  background: var(--bg-white);
  border-radius: 9px;
}
.infosec  h4{
  font-size: 18px;
  line-height: 29px;
  color:var(--black);;
  margin-bottom: 0;
  font-weight: 500;
  }
.infosec .info-bg{
  background: url(../images/green-bg.png) no-repeat;
  background-size: cover;
  border-radius: 9px;
  padding: 15px;
}
.infosec .circle-icon{
  background: #D57800 ;
}
.infosec .icon-wrapper p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 13px;
  font-weight: 500;
}
.statics-sec  h4{
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px;
  }
.statics-sec .staticlist li{
  display: inline-block;
  width: 16.3%;
  text-align: center;
}
.statics-sec .staticlist li:last-child{
  margin-right: 0px;
}
.statics-sec .staticlist li small{
  color:#000000;
  font-size: 15px;
}
.statics-sec .staticlist li span{
  color: #14549E;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}
.statics-sec{
  background: url(../images/statistics_bg.png) no-repeat;
  background-size: cover;
}
   

   

/* ======= OTHER REFERENCE START ======= */
.help-wrapper {
  padding: 35px 0px;
  background: var(--bg-white);
}



.brand-logo .owl-nav, .help-slider .owl-nav, .banner-slider .owl-nav {
  display: block !important;
}
.brand-logo .owl-nav button, .help-slider .owl-nav button  {
  background: var(--arrowbg)  !important;
  color: var(--white) !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 27px !important;
  line-height: 0px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.brand-logo .owl-nav button.owl-next, .help-slider .owl-nav button.owl-next {
  right: 0px;
}
.help-slider .card .card-body > img {
  width: 51px !important;
}
.help-slider .card {
  box-shadow: 0px 0px 11px rgb(0 0 0 / 15%);
  margin: 10px 0px;
}

 /* ====== HOMEPAGE CSS END ====== */
  /* ====== FOOTER START ====== */

.footer-top {
  background:var(--footerblue) ;
  padding: 45px 0px;
}



.footer-top ul li a {
  font-size: 14px;
  line-height: 25px;
  color: var(--white);;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  line-height: 20px;
  color: var(--white);;
  font-weight: 600;
}

.footer-top ul li {
  color: var(--white);;
  display: flex;
  padding: 10px 0px 0px;
}
 .footer-menu li a:before {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  margin-left: 0em;
  margin-right: 7px;
}
.footer-bottom p {
  font-size: 12px;
    line-height: 20px;
    color: var(--white);;
    text-align: center;
    margin: 0 100px;
}
 ul.contact_details li {
  color: var(--white);
  display: flex;
  padding: 6px 0;
  font-size: 14px;
  line-height: 22px;
  flex-wrap: wrap;
}
 .contact_details i.fa-map-marker-alt {
  margin-top: 5px;
}
 .contact_details i {
  margin-right: 7px;
  margin-top: 5px;
}
.footer-bottom {
  background: var(--footerbottom) ;
}

.footer-bottom .footer-border {
  padding: 10px 0px;
}
iframe{
  width: 100%;
}

/* ====== FOOTER END ====== */

.notification-listing li {
  font-size: 13px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
 padding: 6px;
}


.py-50{
  padding: 50px 0px;
}


  ul.searh-listing li {
    padding-top: 6px;
  }
  ul.notification-listing.listing-border-0 li {
    border: 0px;
  }
  


  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  
  }
  /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002458; 
}
.aboutsec{
  padding: 50px 0;
}

.aboutsec  h2{
  font-size: 24px;
  line-height: 29px;
  color:var(--black);;
  font-weight: 500;
  }
 .skip_to_main_content{
  background: var(--bodybg);
 }
 .aboutsec p{
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
 }
 .servicesec{
  padding: 50px 0;
}
table {
  border: 1px solid var(--tbdr);
  width: 100%;
}
  table thead {
  background: var(--theadbg);
  
}
 table thead th {
  font-size: 14px;
  line-height: 19px;
  color: var(--theadtext);
}
 table td, table th {
  /*padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid var(--tbdr);*/
  padding: 0.50rem;
  border: 1px solid #CCC;
  border-width: 0px 1px 1px 0px;
  vertical-align:middle;
}
 table tbody td {
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

#LegendGeneral 
{
    
}

#LegendGeneral legend
{
	background: #ffffff;
	border: #FFFFFF 2px solid;
	font-size: 1.5em;
	font-variant:small-caps;
	font-weight: bold;
	text-align:center;
	color: #D66500;
    font-family: sans-serif;
}
.RequiredField {
    margin-left:3px;
	color: #FF0000;
}
.form-group span{
  color: #FF0000;
}
.heading
{
    padding: 35px 0px 20px 0px;
}
.heading h2
{
    width: 100%;
    padding: 13px 10px;
    height: 46px;
    background: #084C9D;
    text-align: center; 
    font-size: 16px;color: #ffffff;
    font-weight: 500;
}
.orderlist
{
    padding: 5px;
}
.orderlist ul {
   list-style-type: circle;
   padding: 0px 25px 0px 10px;
}
.orderlist ul li {
  padding: 5px 10px;
}
.NonEdit {
    border: 0;
    background: transparent;
    border-style: none;
    pointer-events: none;
}


.field-validation-error
{
    /*color:#ff0000;*/
    color: #D66500;
}
.validation-summary-errors ul li
{
    /*color:#ff0000;*/
    color: #D66500;
}

/*NEWEDISTRICTLAYOUT27042023*/
.nav-item-margin{
    color:White !important;
    padding:10px 15px !important;
}

.dropdown-a-submenu
{
    padding: 10px 15px !important;
    border-top: 1px solid var(--white);
    color:White !important;
}
.dropdown-item-Encoded {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    padding: 10px 19px !important;
    border-top: 1px solid var(--white);
    color:White;
}
/* using Table tr td th*/
.table tr td input,textarea,select{
    /*display: block;*/
    width: 75%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    /*background-color: #fff;*/
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table tr th{
    color: #fff;
    background:#084c9d;
    text-align: center;
}
.displayshadow {
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid #dee2e6;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}
.table tr td input[type="checkbox"],input[type="button"], input[type="reset"], input[type="submit"],input[type="radio"]{
    display: initial !important;
    width: auto !important;
    color: #fff !important;
    /*background-color: #007bff !important;*/
}
.list-style-type-ul
{
 list-style-type : circle;padding:14px 23px; font-size:14px;
}
.verticalalign
{
    vertical-align:middle !important;
}
.border-none
{
    border:0px solid #dee2e6 !important;
}
.border-none th
{
    border:0px solid #dee2e6 !important;
}
.NonEdit {
    border: 0 !important;
    background: transparent;
    border-style: none !important;
    pointer-events: none;
}
.enclink
{
    background-color:#007bff;
    margin:0px 3px;
    padding:3px 7px;
    color:#ffffff;
    line-height: 1.9;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.enclink:hover
{
    background-color:#D64541;
    color:#ffffff;
}
a.enclink:link{
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  font-weight:normal;
}
a.enclink:visited {
	color: #ffffff;
	text-decoration:none;
}

/*Dashbord*/
.DashboardBlocks th {
    width: 20%;
    border: 1px solid #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: var(--theadbg);
    color: #fff;
}
.DashboardBlocks td {
    padding: 20px 10px;
    border: 1px solid var(--theadbg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
}

.GridTable tr th {
    background: -o-linear-gradient(bottom, var(--theadbg) 5%, var(--theadbg) 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, var(--theadbg) ), color-stop(1,var(--theadbg) ) );
    background: -moz-linear-gradient( center top, var(--theadbg) 5%, var(--theadbg) 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50 ", endColorstr="#485B6E ");
    background: -o-linear-gradient(top,#2c3e50 ,485B6E );
    background-color: var(--theadbg);
    border: 1px solid #fff;
    text-align: center;
    border-width: 0px 0px 0px 0px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}

.DashboardSubBlocks .mptd1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    background-color: #e74c3c;
    color: #fff;
    margin: 0 auto;
}

.GridTable td {
    vertical-align: middle;
    border: 2px solid #fff;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 4px;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    background-color: #f3f3f3;
    color: #000000;
    word-break: break-all;
}
.myprofile td {
    font-size: 14px;
    border-collapse: separate;
    padding: 5px 10px;
}
.DashboardSubBlocks td {
    padding: 5px 10px;
    border: 0px solid #ccc;
    font-size: 13px;
}
/*====Citizen Dashbord=====*/

.MainBlockHead {
    border: 3px solid var(--theadbg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: var(--theadbg);
    color: #fff;
    text-align: center;
}

.MainBlockContent {
    padding: 30px;
    border: 2px solid var(--theadbg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 220px;
}
.myprofile td {
    font-size: 14px;
    border-collapse: separate;
    padding: 5px 10px;
}

.mptd1 {
    padding: 5px 8px;
    font-size: 10pt;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    background-color: #e74c3c;
    color: #fff;
     border:1px solid #fff !important;
}


/*====BACK TO TOP START=====*/

.back-to-top {
 position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
/*====BACK TO TOP END=====*/


/*====Heading for Form, reports START=====*/
h1{
    background: #ffffff;
    border: #FFFFFF 2px solid;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    color: #D66500;
    font-family: sans-serif;
}
/*====Heading for Form, reports END=====*/


/*==== New Changes =====*/

